{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card content-section">
    <form method="POST" action="{% url 'register' %}" class="p-3">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Join Today
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <input type="submit" class="btn btn-outline-info" value="Sign Up">
        </div>
    </form>
    <div class="border-top p-3">
        <small class="text-muted">
            Already have an account? <a href="#" class="ml-2">Sign In</a>
        </small>
    </div>
</div>
{% endblock content%}
